
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text {
    height: 100svh;    
    overflow-y: auto;  
    padding: 24px;
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 30px;
   
  }
  .text h2{
   text-align: center;
   color: #AB00D6;
 
  }
  .text b{
    color: #AB00D6;
   }
  

.buttonStyle{
    background-color: #AB00D6;
    color: #ffffff;
    font-weight: 600;
    width: 150px;
 
    
}
.buttonStyle button{
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.return{
    display: flex;
    justify-content: center;

    
}

@media (min-width: 992px) {
    .text {
        margin-top: 50px;
        text-align: center;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto; 
      }

}